<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRRpUvLfZAy_Tv2XQnfxgRDcLHQx3uxvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>772740190090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sok.k1dsp0rt</string>
	<key>PROJECT_ID</key>
	<string>app381-a58a9</string>
	<key>STORAGE_BUCKET</key>
	<string>app381-a58a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772740190090:ios:760ef23ea5edbe64ca8273</string>
</dict>
</plist>